<h1>Este es el componente principal</h1>

<h2>Este es el componente secundarios</h2>

<div class="container">

<!--
  <app-saludo></app-saludo>
  <app-card/><app-card/>-->
  <app-tarjeta/>
  <app-tarjeta/>
  <app-tarjeta/>
  <app-tarjeta/>

</div>
<!-- <nav>
  <ul>
    <li>Bienvenidos</li>
    <li>Nosotros</li>
    <li>Productos</li>
  </ul>
</nav>
<main>
  <h1>{{titulo}} {{name}}</h1>
  <h2>Soy {{dato}}</h2>
  He desarrollado {{dato2}} páginas en toda mi vida
  <form action="">
    <input type="text">
    <input type="text">
    <input type="text"> <button>Enviar</button>
  </form>
</main> -->