@model IEnumerable<Producto>
    @{
        ViewData["Title"] = "Listado de productos";
    }

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@item.Id</tr>
            <tr>@item.Nombre</tr>
            <tr>@item.Precio.ToString("C")</tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a>
            </td>

        }
    </tbody>
</table>